<!doctype html>
<html ng-app="project">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js">
   </script>
    <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
    <link rel="stylesheet" href="bootstrap.css">
    <script src="project.js"></script>
  </head>
  <body>
	  <h2>What is your wish?</h2>
    <input type="text" ng-model="yourWish" placeholder="Write it here.">
	<button type="submit" ng-model="yourWish">
		<img src="http://previews.123rf.com/images/gorbovoi81/gorbovoi811402/gorbovoi81140200016/26017192-Doodle-style-genie-aladdin-s-lamp-vector-illustration-Stock-Vector.jpg" style="width:100px;height:auto;"><br />Rub Lamp</button>
    <div ng-view></div>
  </body>
</html>